*{
    font-family: 'EB Garamond', serif;
}
body {
    margin: 10px 60px;
}
a {
    text-decoration: none;
    color: black;
}
h1, h4, ol {
    margin: 0;
}
p {
    margin: 5px 0;
}
.top-bar {
    background-color: rgb(18, 251, 6);
    padding: 0 40px;
}
.main {
    background-color: #aaf8ab;
    padding: 10px 15px;
}
.row {
    padding: 5px 0;
}
.bottom {
    display: flex;
    color: rgb(58, 58, 58);
    font-size: 14px;
}
.timestamp {
    padding-right: 10px;
}