*{
  font-family: 'Open Sans', sans-serif;
}
body {
    margin: 10px 60px;
  }
  a {
    text-decoration: none;
    color: black;
  }
  h1,
  h4,
  ol {
    margin: 0;
  }
  p {
    margin: 5px 0;
  }
  textarea {
    width: 80%;
    height: 80px;
  }
  button {
    display: block;
    margin: 10px 0;
  }
  .top-bar {
    background-color: rgb(243, 215, 0);
    padding: 0 40px;
    border-radius: 20px;
    margin-bottom: 30px;
  }
  .top-bar h1{
    text-align: center;
}
  .main {
    background-color: #f6f6b4;
    padding: 10px 40px;
    border-radius: 20px;
  }
  .comments {
    margin: 40px 0;
  }
  .comment {
    margin: 10px 0;
  }
  .row {
    padding: 5px 0;
  }
  .bottom,
  .top-comment {
    display: flex;
    color: rgb(70, 70, 70);
    font-size: 12px;
  }
  .timestamp {
    padding-right: 10px;
  }
  .comment-ts {
    padding-left: 10px;
  }
  button{
    padding:10px;
    font-weight:600;
    border-radius: 10px;
    border: none;
    background-color: rgb(252, 215, 6);
  }